<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'styles/globals.css') }} ">

    <link rel="stylesheet" href=" {{ url_for('static', filename = 'styles/exp.css') }} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

</head>

<body>

    <heading>
        You Are About To Witness {{ area }} In {{ era }}
    </heading>
    <div class="slider">

        <button class="arrow left-arrow" id="left">
            <!-- <i class="fas fa-arrow-right"></i> -->
        </button>

        <div class="slider-container">
            <div class="slide active" style="
              background-image: url('url_for('static',filename = 'Generated/0.jpg');
            "></div>
            <div class="slide" style="
              background-image: url('url_for('static',filename = 'Generated/1.jpg');
            "></div>

            <div class="slide" style="
              background-image: url('url_for('static',filename = 'Generated/2.jpg');
            "></div>

            <div class="slide" style="
              background-image: url('url_for('static',filename = 'Generated/3.jpg');
            "></div>

            <div class="slide" style="
              background-image: url('url_for('static',filename = 'Generated/4.jpg');
            "></div>


         
        </div>
        <button class="arrow right-arrow" id="right">
            <!-- <i class="fas fa-arrow-right"></i> -->
        </button>
        
    </div>
    <script src="../static/styles/exp.js"></script>
</body>

</html>
</body>

</html>

</body>

</html>