<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        
    <link rel="shortcut icon" href="../static/public/slogo.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot Light</title>

    
    {% block styles %}
    <link rel="stylesheet" href=" {{ url_for( 'static' , filename = 'styles/globals.css' ) }} ">
        
    {% endblock styles %}

    {% endblock head %}





</head>

<body>

    {% block body %}
    <div class="navbar">

        {% block navbar %}


        <div class="brand">
            <img src="{{ url_for('static', filename = './public/1.png')}}" 
            alt="Spotlight Logo"
            >
        </div>
        <div class="navigation">
            {% block navigation %}
            <a href="">
                <button class = "button currentpage">
                   Home
                </button>
            </a><a href="">
                <button class = "button">
                   Projects
                </button>
            </a><a href="">
                <button class = "button">
                   About
                </button>
            </a> 
            </a><a href="">
                <button class = "button">
                   Contact
                </button>
            </a> 
            {% endblock navigation%}
        </div>
        <div class="buttons">
            {% block actions %}
            <a href="{{ url_for('login') }}">
                <button>
                   Login
                </button>
            </a>
            <a href="{{ url_for('signup') }}">
                <button id = "signup">
                   Sign Up
                </button>
            </a>

            {% endblock actions%}
            
           
        </div>
    </div>
    {% endblock navbar%}
    <div class="content">
    {% block content %}
    <br><br><br>
        Content Here
        Will Fill Later, Functionality FIRST
    {% endblock content%}
</div>
    {% endblock body%}
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all buttons with class 'navicon'
        const buttons = document.querySelectorAll('.button');
        console.log(buttons)
        // Add click event listener to each button
        buttons.forEach(button => {
          button.addEventListener('click', () => {
            // Remove 'selected' class from all buttons
            buttons.forEach(b => b.classList.remove('currentpage'));
      
            // Add 'selected' class to the clicked button
            button.classList.add('currentpage');
            });
        });
      });
</script>


</html>