<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        
    <link rel="shortcut icon" href="../static/public/slogo.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmic Art</title>

    
    {% block styles %}
    <link rel="stylesheet" href=" {{ url_for( 'static' , filename = 'styles/globals.css' ) }} ">
        
    {% endblock styles %}

    {% endblock head %}





</head>

<body>

    {% block body %}
    <div class="navbar">

        {% block navbar %}


        <div class="brand"><a href="">
            <bname>Cosmic Art</bname></a>
            
        </div>
        <div class="navigation">
            {% block navigation %}
            <a href="">
                <button class = "button currentpage">
                   Home
                </button>
            </a><a href="">
                <button class = "button">
                   Collections
                </button>
            </a><a href="">
                <button class = "button">
                   Pricing
                </button>
            </a> 
            </a><a href="">
                <button class = "button">
                   About
                </button>
            </a> 
            {% endblock navigation%}
        </div>
        <div class="buttons">
            {% block actions %}
            <a href="{{ url_for('login') }}">
                <button>
                   Login
                </button>
            </a>
            <a href="{{ url_for('signup') }}">
                <button id = "signup">
                   Sign Up
                </button>
            </a>

            {% endblock actions%}
            
           
        </div>
    </div>
    {% endblock navbar%}
    <div class="content">
    {% block content %}
        <div class="hero">
            <div class="hero-text">
                Presenting The <span>Space Time</span> Continuum Of Art
            </div>
            <a href="{{ url_for('signup') }}">
                <button>
                    Join The Experience
                </button>
            </a>
        </div>
    {% endblock content%}
</div>
    {% endblock body%}
</body>



</html>